@inject IStringLocalizer<PizzaList> T

@if (!Pizzas.Any())
{
    <div>@T["Loading..."]</div>
}
else
{
    <h4>@Title</h4>

    @foreach (var pizza in Pizzas)
    {
        <PizzaItem Pizza="@pizza" ButtonTitle="@ButtonTitle" ButtonClass="@ButtonClass" Selected="@Selected" ShowPizzaInformation="@ShowPizzaInformation" />
    }
}