@inject IStringLocalizer<ShoppingBasket> T
@inject IStringLocalizer<Resources.Common> TC

@if (OrderedPizzas.Any())
{
    <HeaderBodyFooterComponent>
        <Body>
        <PizzaList
            Title="@T["Your current order"]"
            Pizzas="@OrderedPizzas"
            ButtonTitle="@TC["Remove"]"
            ButtonClass="btn btn-danger"
            Selected="@Selected"/>
        </Body>
        <Footer>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <hr/>
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col">
                    @T["Total:"]
                </div>
                <div class="col text-right font-weight-bold">
                    @_totalPrice.ToString("0.00");
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </Footer>
    </HeaderBodyFooterComponent>
}